.headingcontainer {
 position: relative;
 text-align: center;
 color: white;
 top: 60%;
}

h1 {
   position: relative;
   text-align: center;
   top: 50%;
   font-size: 20px;
   font-family: 'Fira Code', monospace;
}

h1 {
   animation: fadeIn 3s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
   background-color: #000507
}

h1 {
    font-weight: bold;
    color: #002536;
    animation: glow-animation 2s infinite alternate;
}

@keyframes glow-animation {
    0% {
        text-shadow: 0 0 5px #001118, 0 0 5px #001118, 0 0 15px #001118, 0 0 20px #001118;
    }

    50% {
        text-shadow: 0 0 10px #001118, 0 0 10px #001118, 0 0 30px #01293f, 0 0 40px #01293f;
    }

    100% {
        text-shadow: 0 0 5px #001f30, 0 0 5px #001f30, 0 0 15px #01293f, 0 0 20px #01293f;
    }
}

hr {
  width: 350px;
  color: #01405b
}

a {
   font-size: 20px;
   position: relative;
   top: 5px;
   font-family: 'Fira Code', monospace;
   color: #002536;
   text-shadow: 1.2px 1.2px 1.2px #001118;
}

.div {
   color: red;
}

 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: underline;
}

a:active {
      text-decoration: none;
}

.Downloads {
 position: relative;
 text-align: center;
 color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #000507;
  padding: 50px;
}

.headingcontainer {
  margin-bottom: 20px;
}

.Downloads {
  margin-top: 80px;
}

.navbar {
  margin-top: 10px;
}

p {
   font-family: 'Fira Code', monospace;
   color: #002536;
   font-size: 20px;
   margin-top: 10px
}

p {
    font-weight: bold;
    color: #002536;
    animation: glow-animation 1.5s infinite alternate;
}

@keyframes glow-animation {
    0% {
        text-shadow: 0 0 5px #001118, 0 0 5px #001118, 0 0 15px #001118, 0 0 20px #001118;
    }

    50% {
        text-shadow: 0 0 10px #001118, 0 0 10px #001118, 0 0 30px #01293f, 0 0 40px #01293f;
    }

    100% {
        text-shadow: 0 0 5px #001f30, 0 0 5px #001f30, 0 0 15px #01293f, 0 0 20px #01293f;
    }
}

hr {
   width: 300px;
   margin-bottom: 30px;
   margin-top:30px;
   border-color: #002536;
}

ul {
 position: relative;
 text-align: center;
 right: 20px;
 color: white;
}

h {
   font-size: 13px;
   margin-top: 200px;
   position: relative;
   font-family: 'Fira Code', monospace;
   color: #002536;
   text-shadow: 1.2px 1.2px 1.2px #001118;
}
