body {
    background-color:lightgreen
}
      
h1 {
        text-align:center
}

h1 {
  font-family:Josefin Sans;
  font-size:
}	  

h1 {
  opacity: 0.7;
}

h1 {
   position: relative;
   top:-20px
}

body {
  background: rgb(126,163,131);
background: linear-gradient(90deg, rgba(126,163,131,1) 2%, rgba(71,77,171,1) 35%, rgba(51,187,52,1) 64%, rgba(50,71,46,1) 100%);
}

h1 {
  color: rgb(0,0,0);
color: linear-gradient(90deg, rgba(126,163,131,1) 2%, rgba(71,77,171,1) 35%, rgba(51,187,52,1) 64%, rgba(50,71,46,1) 100%);
}

h1 {
  
}

hr {
  color: rgb(50, 97, 97);
  opacity: 
}

h1 {
  text-shadow: 1px 1px 2px lightcyan;
}

p {
  font-family:Trebuchet MS
}

p {
  text-align:center
}

p {
  text-shadow: 0px 0.5px 1px 
}

p {
  opacity:0.75
}

.box {
  width: 1000;
  height: 30px;
  border: 5px solid white;
}

a {
  text-align:center
}

.box {
   width:1000px;
   height: 65px;
   padding: 20px;
   opacity: 1;
   text-align:center;
   position: relative;
   margin: auto;
   border-radius:50px;
   border-color:black;
   border-width:0px;
   background: rgb(0,145,76);
   background: linear-gradient(90deg, rgba(0,145,76,1) 0%, rgba(131,99,167,1) 50%, rgba(50,65,98,1) 100%);
}

.box {
   position:relative;
   top: -30px
}

.box2 {
   width:1000px;
   height: 65px;
   padding: 20px;
   opacity: 1;
   text-align:center;
   position: relative;
   margin: auto;
   border-radius:50px;
   border-color:black;
   border-width:0px;
   background: rgb(0,145,76);
   background: linear-gradient(90deg, rgba(0,145,76,1) 0%, rgba(131,99,167,1) 50%, rgba(50,65,98,1) 100%);
}

.box2 {
   top: -15px
}

h1 {
   font-size:45px;
}

.box3 {
   width:1700px;
   height: 50px;
   padding: 20px;
   background-color:black;
   opacity:0.7;
   font-family
}

.box3 {
   position:absolute;
   bottom: 0;
   right:0
}

h2 {
   text-align:center;
   font-family: Trebuchet MS;
   position: Relative;
   color:black;
   opacity: 0.6;
   font-size:20px;
   position:relative;
   top:190px
}

h3 {
   text-align:center;
   font-family: Trebuchet MS;
   position: Relative;
   color:black;
   opacity: 0.6;
   font-size:17px;
   position:relative;
   top:200px
}

p {
   position:relative;
   bottom:20px
}